@keyframes pop-in {
  0% {
    opacity: 0;
    color: white;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    color: black;
    transform: none;
  }
}
@keyframes pop-out {
  0% {
    opacity: 1;
    color: black;
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
}
@keyframes rotate-up {
  0%{
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes rotate-down {
  0%{
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
body{
  background: linear-gradient(to right, rgb(254, 1, 1), rgb(23, 0, 0));;
}
h1{
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  animation: pop-in 2s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
}
footer{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  animation: rotate-up 1.8s cubic-bezier(0, 0.9, 0.3, 1.2);
}
h3{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  animation: rotate-down 1.8s cubic-bezier(0, 0.9, 0.3, 1.2);

}

.name{
  font-style: italic;
  color: yellow;
}
.done{
  color:darkred;
  text-decoration: line-through;
}
.header{
  margin-top: 70px;
  text-align: center;
  justify-content: center;
}
.list{
  border: black solid 5px;
  border-radius: 10px;
  padding: 30px 20px ;
  width: 30%;
  display: flex;
  justify-content: space-around;
  background-color: #d5c455;
  position: relative;
  margin-left: 33%;
}
.input{
  display: flex;
  justify-content: center;
}
.input1{
  border: black solid 2px;
  border-radius: 10px 0px 0px 10px ;
  padding: 10px;
  background-color: #ffebd9;
   
}
.input2{
  border: black solid 2px;
  border-radius: 0px 10px 10px 0px ;
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;

}
li{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color:black;
  padding: 10px;
  animation: pop-in 0.5s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
}
li:hover{
  font-size:22px;
  transition: ease-in-out 0.2s;
}
.button1{
  padding: 7px;
  background-color: gray ;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  font: 15px;
  cursor: pointer;
  margin-left: 20px;
  
}
p{
  font-size: 20px;
  color: white;
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.popOut{
  animation: pop-out 1s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
}